<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.igorvd.bitcoincharts.features.featureA" >

    <application >
        <activity android:name="com.igorvd.bitcoincharts.features.featureA.FeatureAActivity" >
        </activity>
    </application>

</manifest>